@import "tailwindcss";


@layer base {

  body {
    @apply min-h-screen flex flex-col  bg-background;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-gray-900;
  }

  p {
    @apply text-gray-700 leading-relaxed;
  }

  button {
    @apply bg-primary text-white font-semibold py-2 px-4 rounded hover:bg-primary/90 transition-colors duration-200;
  }
}

@layer components {
  .container {
    @apply px-4 mx-auto sm:px-6 lg:px-14;
  }

  .keen-slider__slide.active{
    @apply  border-2 border-primary;
  }
}

@layer utilities {
  @theme {
    --color-primary: #625BF8;
    --color-background: #F5F7F9;
    --color-light: #ffffff;
    --color-dark: #121B31;
    --color-success: #10b981;
    --color-warning: #f59e0b;
    --color-error: #ef4444;
    --color-info: #3b82f6;
    --font-cairo: "Cairo Variable", sans-serif;
  }

  /* dark theme */
  .dark {
    --color-background: #0F1626;
    --color-light: #121B31;
    --color-dark: #FFFFFF;
  }
}